<!DOCTYPE html>
<html>
<head>
    <title>My Simple HTML Page</title>
</head>
<body>
    <h1>Instructor details</h1>
    <form action="/admin_page" method="post">
        {% csrf_token %}
        <label for="name">name</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">instructor_id</label>
        <input type="number" id="instructor_id" name="instructor_id" required><br><br>

        <label for="name">department</label>
        <input type="text" id="department" name="department" required><br><br>

        <label for="name">type</label>
        <input type="text" id="type" name="type" required><br><br>

        <label for="name">salary</label>
        <input type="number" id="salary" name="salary" required><br><br>

        <label for="name">email</label>
        <input type="email" id="email" name="email" required><br><br>
        

        <input type="submit" value="Submit">
    </form>


</body>
</html>
